
body {
    margin: 0;
    /*min-width: 320px;*/
    /*height: 95vh;*/
    padding: 0;
    width: 100vw;
    /*height: 100%;*/
    box-sizing: border-box;
}

.ant-alert-content > .ant-alert-description {
    font-size: 12px !important;
}

#app {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 98vh; /* 使用视口高度 */
    width: 100vw;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
